html{
  background:url("./images/jungle-blue.jpg") no-repeat center fixed;
  background-size:cover;
  width:100%;
  height:100%;
}

body{
  font-family:"Calibri", "Helvetica", "sans-serif";
  font-size:1.2em;
  color:white;
  margin:0;
}

#header{
  background-color:#1E1F26;
  position:fixed;
  top:0px;
  height:80px;
  display:grid;
  grid-template-columns: 1fr 2fr;
  width:100%
}

#header-img{
  max-height:70%;
  width:auto;
  margin:auto;
  align-self:center;
}

.nav-link{
  color:white;
  text-decoration:none;
}

#nav-bar{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  align-items:center;
}

.nav-link{
  text-align:center;
  font-family:"Allura", "Helvetica", "sans-serif";
  font-size:1.5em;
}

.nav-link:hover{
  color:#D3D3D3;
}

main{
  max-width:1280px;
  margin:auto;
  margin-top:80px;
  text-align:center;
}

main>div{
  margin-bottom:4em;
}

#title{
  padding-top:1em;
  font-size:3em;
  margin-bottom:0;
}

#title, h2, h3{
  font-family:Allura;
  color:white;
}

h2{
  font-size:2em;
}

#form{
  display:flex;
  flex-direction:column;
  align-items:center;
}

#email{
  padding:1em 1.2em 1em 1.2em;
  margin:0.8em;
  width:30%;
}

.btn{
  background-color:#383630;
  color:white;
  font-size:1em;
  border:1px solid #383630;
  box-shadow:0px 0px 2px 0px white;
  padding:0.3em 1.2em 0.3em 1.2em;
  cursor:pointer;
}

.btn:hover{
  border:1px solid white;
}

#submit{
  width:20%;
}

.features-containers>h2{
  margin-bottom:0;
}

.features-containers>p{
  margin:0;
}

#pricing{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  grid-column-gap:2vw;
  margin:4em;
}

.prices{
  box-shadow:0px 2px 4px 2px white;
  padding-bottom:1em;
}

.prices>h2{
  padding:0.5em 0 0.5em 0;
  margin:0;
  background-color:rgb(30,31,38,0.8);
  box-shadow:0px 0px 4px 2px white;
  font-size:1.5em;
}

.prices>ul{
  padding:0;
}

iframe{
    max-width:90vw;
    max-height:50vh;
}

@media (max-width:800px){
  main{
    margin:150px 1em 0 1em;
  }
  
  main>div{
    margin-bottom:2em;
  }
  
  #header{
    grid-template-columns:100%;
    height:150px;
  }
 
  #nav-bar{
    grid-template-columns:1fr;
    align-items:stretch;
  }
  
  .nav-link{
    border-top:1px solid white;
  }

  #title{
  padding-top:1em;
  font-size:2em;
  margin-bottom:0;
  }

  h2{
    font-size:1.5em;
  }

  h3{
    font-size:1em;
  }
   
  #email{
    width:70%;
  }
  #submit{
    width:50%
  }
  
  #pricing{
    grid-template-columns:1fr;
    grid-row-gap:4em;
    margin:2em;
  }
  
}